.die{
    font-size: 8em;
    color: orangered;
    padding: 10px;
}

.shaking{
    animation: slide 1s;
}

@keyframes slide{
    from {
        transform: translate3d(0,0,0);
    }
    15%{
        transform: translate3d(-25%,0,0) rotate3d(0,0,1,-20deg);
    }
    30%{
        transform: translate3d(20%,0,0) rotate3d(0,0,1,14deg);
    }
    45%{
        transform: translate3d(-15%,0,0) rotate3d(0,0,1,-20deg);
    }
    60%{
        transform: translate3d(10%,0,0) rotate3d(0,0,1,10deg);
    }
    75%{
        transform: translate3d(-5%,0,0) rotate3d(0,0,1,-7deg);
    }
    to{
        transform: translate3d(0,0,0);
    }
}

